@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
    :root {
      /* Name: custom color palette
         Author: Ilias Ism
         URL: https://gradient.page */

      /* CSS: .bg-gradient { background: var(--gradient) } */
      --gradient: #16a34a;

      --background: 151 49.4% 2.88%;
      --foreground: 151 7.6% 96.8%;

      --muted: 151 38% 10.799999999999999%;
      --muted-foreground: 151 7.6% 53.6%;

      --popover: 151 49.8% 4.68%;
      --popover-foreground: 151 7.6% 96.8%;

      --card: 151 49.8% 4.68%;
      --card-foreground: 151 7.6% 96.8%;

      --border: 151 38% 10.799999999999999%;
      --input: 151 38% 10.799999999999999%;

      --primary: 151 76% 36%;
      --primary-foreground: 151 7.6% 96.8%;

      --secondary: 151 38% 10.799999999999999%;
      --secondary-foreground: 151 7.6% 96.8%;

      --accent: 151 38% 10.799999999999999%;
      --accent-foreground: 151 7.6% 96.8%;

      --destructive: 0 62.8% 30.6%;
      --destructive-foreground: 151 7.6% 96.8%;

      --ring: 151 76% 36%;
    }
  }

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
